*.swp
gcp-keyfile.json
/.bundle
/.ruby-gemset
/.ruby-version
/.yardoc/
/coverage/
/custom_fields.sublime-workspace
/doc/
/Gemfile.lock
/lib/custom_fields/types_old/
/pkg/
/rdoc/
/spec/tmp/
/tmp/
/uploads/
